env/
venv/
.env
.venv/
__pycache__/
.aider*
node_modules/
notes/
issues.md
test/
protoype/
.pytest_cache/
extract/
*.excalidraw
features_test.py
Ai_Engine/logs/
Ai_Engine/prompts/example*
Ai_Engine/cache_model*