env/
venv/
.env
.venv/
__pycache__/
.aider*
node_modules/
notes/
issues.md
test/
protoype/
.pytest_cache/
extract/
*.excalidraw
core/debugging.py
features_test.py
LLM/logs/
LLM/prompts/example*
LLM/cache_model*